p{
  color: magenta;
}


h1 {
  font-family: "fantasy", Papyrus;
text-align: center;
  color: crimson;
}

h2 {
  color: red;
}

img {
  width: 100%;
}

body {
  background-color: cornsilk;
}
